{% extends 'base.html' %}

{% block title %} {{ event.name }} {% endblock title %}

{% block content %}
<center>
  <div class="event">
    <h3 class="mb-3 text-danger">{{ title | upper }}</h3>
    <div class="card">
      <div class="card-body">
        <table>
          <tr class="align-top">
            <th width="15%">Event Name</th>  <td width="2%">:</td>
            <td width="83%">{{ event.name }}</td>
          </tr>
          <tr>
            <th>Event Date</th>  <td>:</td>
            <td>{{ event.date }}</td>
          </tr>
          <tr>
            <th>Event Venue</th>  <td>:</td>
            <td>{{ event.location }}</td>
          </tr>
          <tr>
            <th>Category</th>  <td>:</td>
            <td>{{ event.category.name }}</td>
          </tr>
          <tr class="align-top">
            <th>Description</th>  <td>:</td>
            <td>{{ event.description }}</td>
          </tr>
          <tr>
            <th>Hosted By</th>  <td>:</td>
            <td>{{ event.created_by.first_name }} {{ event.created_by.last_name }}</td>
          </tr>
          <tr>
            <th>Capacity</th>  <td>:</td>
            <td>{{ event.capacity }} Person</td>
          </tr>
          <tr>
            <th>Attendees</th>  <td>:</td>
            <td>
              <div class="d-flex justify-content-between align-items-center">
                <span>{{ event.attendees.count }} / {{ event.capacity }}</span>
                {% if is_booked %}
                  <span class="badge bg-success fw-normal fs-6">Booked</span>
                {% endif %}
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <!-- Booking Start -->
    <div class="mt-4">
      {% if user.is_authenticated %}
        {% if user == event.created_by or user.is_superuser %}
          <a href="{% url 'update_event' event.id %}"
            class="btn btn-warning btn-sm fs-6 w-25 mx-2">Update</a>
          <a href="{% url 'delete_event' event.id %}"
            class="btn btn-danger btn-sm fs-6 w-25 mx-2">Delete</a>
        {% elif is_booked %}
          <form method="POST" action="{% url 'unbook_event' event.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning btn-sm fs-6 w-25">Unbook Event</button>
          </form>
        {% elif not event.is_fully_booked %}
          <form method="POST" action="{% url 'book_event' event.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-brown btn-sm w-25">Book Event</button>
          </form>
        {% else %}
          <span class="badge bg-danger fw-normal fs-6 py-2 w-50">This Event is Fully Booked</span>
        {% endif %}
      {% else %}
        {% if event.is_fully_booked %}
          <span class="badge bg-danger fw-normal fs-6 py-2 w-50">This Event is Fully Booked</span>
        {% else %}
          <a href="{% url 'signin' %}" class="btn btn-brown btn-sm w-50">
            <strong>Sign In</strong> to Book this Event.</a>
        {% endif %}
      {% endif %}
    </div>
    <!-- Booking End -->

  </div>
</center>
{% endblock content %}